<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<% @contacts.each do |contact| %>
<%= contact.full_name %> <%= contact.email %> <%= contact.note %>
<% end %>
  </body>
</html>
